body{
    height: 100%;
}
.content{
    height: 100%;
}
#header{
    height: .45rem;
    background: #d43c33;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#header .iconfont{
    font-size: .24rem;
    color: #ffffff;
}
.search input{
    width: 2.67rem;
    height: .32rem;
    border: 0;
    border-radius:20px ;
    position: relative;
    padding-left:.43rem ;
    box-sizing: border-box;
}
.search .iconfont{
    font-size: .2rem;
    color: #666;
    position: absolute;
    left: .1rem;
    top: .1rem;
}
#nav{
    height: .4rem;
    background: #f8f8f9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    position: absolute;
    top: .45rem;
    left: 0;
    right: 0;
}
#nav a{
    width: .4rem;
    font-size: .15rem;
    height: .4rem;
    line-height: .4rem;
    color: #000;
}
#nav a:hover,#nav a:focus{
    color: #d33a31;
    border-bottom:.02rem solid #d33a31;
}
#main{
    width: 100%;
    background: #fbfcfd;
    position: absolute;
    top: .95rem;
    bottom: .5rem;
    overflow-y: auto;
    overflow-x: hidden;
}
.k1{
    height: 1.04rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 0.005rem solid #666;
}
.k1 .circle{
    width: .48rem;
    height: .48rem;
    border: 1px solid #d33a31;
    border-radius: 50%;
    position: relative;
    margin-bottom: .07rem;
}
.k1 .circle img{
    width:.25rem;
    height: .25rem;
    /* text-align: center;
    line-height: .48rem; */
    /* vertical-align: middle; */
    position: absolute;
    left: .1rem;
    top: .1rem;
}
.k2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
}
.k3{
    height: .5rem;
    width: 100%;
}
.k3 h3 span{
    font-weight: bold;
    color: #d33a31;
    font-size: .15rem;
}
.k3 h3{
    font-weight: bold;
    font-size: .15rem;
    line-height: .5rem;
}
.k4{
    width: 100%;
    height: 1.61rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* flex-wrap: wrap; */

}
.k4 img{
    height: 1.22rem;
    width:1.4rem ;
}
.k5{
    width: 33%;
    height: 1.61rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.k5 p{
    /* width: 33%; */
    height: .45rem;
    width: 1.1rem;
}
#footer .iconfont{
    font-size: .24rem;
} 
#footer{
    height: .5rem;
    background:#262521;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
#footer a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #666666;
}
#footer a:hover,#footer a:focus{
    color: #fff;
}